.navigation ul li a .icon {
    font-size: 2.75rem !important;
}
.navigation ul li a{
    font-size: 1.5rem !important;
}
.navigation ul li a .icon {
    font-size: 2.75rem !important;
}
.navigation ul li a{
    font-size: 1.5rem !important;
}

.khungtable .container{
    width: max-content;
}

.container .rowtext{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rowtext p{
    padding-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.rowtext input,
.rowtext select{
    width: 250px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}

.role{
    display: flex;
    align-items: center
}

.role p{
    padding-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 85px;
}

.form-check .form-check-label{
    margin-right: 20px;
}

.btn-acept{
    display: flex;
    justify-content: space-around;
}