
@{
    Layout = "~/Views/Shared/_logoutlayout.cshtml";
    ViewBag.Title = "Report Statistics";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Statistics</title>
    <link rel="stylesheet" href="~/Content/admincss/menuadim/homepageadmin.css">
    <link rel="stylesheet" href="~/Content/admincss/menuadim/manageall.css">
    <link rel="stylesheet" href="~/Content/admin/2.manager/managerprofile/manageprofile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <!-- html cho phần menu -->
    <div class="navigation open">
        <div class="menuToggle">Manager</div>
        <div class="main-menu">
            <div class="menu-option">
                <ul class="manage showmanage">
                    <li class="list" style="--clr:#f44336;">
                        <a href="@Url.Action("ManagePro","ManagerS")">
                            <span class="icon"><ion-icon name="newspaper-outline"></ion-icon></span>
                            <span class="text">Manage Profile</span>
                        </a>
                    </li>
                    <li class="list" style="--clr:#ffa117;">
                        <a href="@Url.Action("ManageWorkshift","ManagerS")">
                            <span class="icon"><ion-icon name="reader-outline"></ion-icon></span>
                            <span class="text">Manage WorkShift</span>
                        </a>
                    </li>
                    <li class="list" style="--clr:#4f088a;">
                        <a href="@Url.Action("TimeKeeping","ManagerS")">
                            <span class="icon"><ion-icon name="today-outline"></ion-icon></span>
                            <span class="text">TimeKeeping</span>
                        </a>
                    </li>
                    <li class="list active" style="--clr:#2196f3;">
                        <a href="@Url.Action("ReportStatis","ManagerS")">
                            <span class="icon"><ion-icon name="document-text-outline"></ion-icon></span>
                            <span class="text">Report Statistics</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end menu -->

    <!-- html cho phần manage Account -->
    <div class="home-main open3">
        <div class="header-content">
            <p>Report Statistics</p>
        </div>
        <div class="header-content">
            <button class="export-rp" type="button" id="btn-export" onclick="">Print Excel File</button>
        </div>
        <div class="table-food">
            <div class="khungtable">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Ordinal Numbers</th>
                            <th>Date</th>
                            <th>Number of Meals</th>
                            <th>Meals Received</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="ON">1</td>
                            <td data-label="D">08/10/2022</td>
                            <td data-label="NoM">100</td>
                            <td data-label="MR">90</td>
                        </tr>

                        <tr>
                            <td data-label="ON">2</td>
                            <td data-label="D">09/10/2022</td>
                            <td data-label="NoM">100</td>
                            <td data-label="MR">85</td>
                        </tr>

                        <tr>
                            <td data-label="ON">3</td>
                            <td data-label="D">10/10/2022</td>
                            <td data-label="NoM">100</td>
                            <td data-label="MR">92</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end phần manage Account -->

    <script>
        //script cho phần menu


        // script cho phần profile
        let menuToggleprofile = document.querySelector('.menuToggle-profile');
        let navigationprofile = document.querySelector('.navigation-profile')
        menuToggleprofile.onclick = function(){
            navigationprofile.classList.toggle('active')
        }

        // script cho phần option role
        function show(a){
           document.querySelector('.navigation.open .text02').value = a;
        }

        let dropdown = document.querySelector('.dropdown');
        dropdown.onclick = function(){
            dropdown.classList.toggle('dropdownactive');
        }

        //script cho phần đổi menu
        const changeadmin = document.querySelector('.change-option-admin');
        const changemanage = document.querySelector('.change-option-manage');
        const changecheif = document.querySelector('.change-option-cheif');
        const changestaff = document.querySelector('.change-option-staff');
        const admin = document.querySelector('.admin');
        const manage = document.querySelector('.manage');
        const cheif = document.querySelector('.cheif');
        const staff = document.querySelector('.staff');

        changeadmin.onclick = function(){
            admin.classList.add('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.remove('showstaff');
        }
        changemanage.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.add('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.remove('showstaff');
        }
        changecheif.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.add('showcheif');
            staff.classList.remove('showstaff');
        }
        changestaff.onclick = function(){
            admin.classList.remove('showadmin');
            manage.classList.remove('showmanage');
            cheif.classList.remove('showcheif');
            staff.classList.add('showstaff');
        }

    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>
